
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

#one {
border-color: blue;
position: fixed;
bottom: 0;
right: 0;
}

#two {
border-color: green;
position: fixed;
top: 0;
right: 0;
}

#three {
border-color: orange;
position: fixed;
top: 0;
left: 0;
}

#four {
border-color: gold;
position: fixed;
bottom: 0;
left: 0;
}

div {
border: solid 5px;
margin: 5px;
padding: 5px;
width: 25%;
}

p {
text-align: center;
vertical-align: middle;
}

a {
font-size: large;
color: #EEEEEE;
background-color: #0a4b33;
text-decoration: none;
font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;
}